@charset "UTF-8";
/* CSS Document */

.bun-top {
  height: 70px;
  width: 70%;
  background: #e7a945;
  border-radius: 100px 100px 20px 20px;
  border-bottom: solid 10px rgba(0, 0, 0, .1);
  border-top: dotted 5px rgb(255, 240, 197);
}

.cheese {
  height: 15px;
  width: 60%;
  background: #f4d262;
  border-bottom: solid 2px rgba(0, 0, 0, .1);
}

.tomato {
  height: 25px;
  width: 50%;
  background-color: #dd3710;
  border-bottom: solid 2px rgba(0, 0, 0, .1);
}

.meatball {
  height: 60px;
  width: 70px;
  background: #74380d;
  border-radius: 50px;
  display: inline-block;
  vertical-align: top;
  border-top: solid 3px rgb(170, 91, 26);
}

.patty {
  height: 35px;
  width: 65%;
  background: #ad640b;
  border-radius: 15px;
  border-bottom: solid 2px rgba(0, 0, 0, .1);
  border-top: solid 2px rgb(82, 44, 12);
}

.lettus {
  height: 10px;
  width: 70%;
  background: #6bda7c;
  border-radius: 15px;
  border-bottom: solid 2px rgba(0, 0, 0, .1);
}


.pickle {
  height: 30px;
  width: 55%;
  background: #36b573;
  border-radius: 0 0 100px 100px;
  border-bottom: solid 10px #2d9961;
}

.onion {
  width: 40%;
  background-color: #a039bf;
  border-radius: 10px;
  border-top: dotted 15px rgb(238, 218, 242);
}

.bun-bottom {
  height: 40px;
  width: 70%;
  background: #e7a945;
  border-radius: 20px 20px 40px 40px;
  border-top: solid 8px rgba(0, 0, 0, .1)
}

.plate {
  height: 25px;
  width: 80%;
  background: #815812;
  border-radius: 20px 20px 200px 200px;
}